* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%); /*variável*/
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color:hotpink;
}

body {
  display: grid;
  place-items: center;
}

main {
  /*ANTES DA RESPONSIVIDADE
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
  DEPOIS DA RESPONSIVIDADE
  no-repeat == não repete
  center/cover = centraliza o backgroud e  cobre  toda a  área do dispositivo*/
  background: url(images/background.png) no-repeat center/cover;
  width: 100vw; /*pega a largura total  de tela  e preencha inteira*/
  min-height: 812px; /*altura mínima*/
  height: 100vh; /*mas pra dispositivos maiores, toda a viewport*/
}

.container {
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 15.65rem; /*rem tem relação com o pixel padrão da página 160px/16px=10rem*/
  margin: 11.5rem 0 0 0;
  position: relative;
}

.avatar span {
  align-content: center;
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: rgb(130, 44, 201);
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  color: rgb(207, 195, 216);
}

ul {
  margin-top: 1.5rem;
  list-style: none;
  padding: 0;
  display: flex;
  /*flex-direction: column;*/
  gap: 0.5rem;
  justify-content: center;
}

/*estudar breakpoints e at rule */
@media (min-width: 720px) {
  /* estilos versão tablet */
}

@media (max-width: 960px) {
  /* estilos versão desktop */
}
